<!--This partial loads global variables then a partial determined by role-->
<script>

    var role = '{{role}}';
    //console.log('Role: ',role);//string

    var config = {{config|raw}};
    //console.log('config',config);

    var current=0;// questnum
    var gameQuest={{gameQuest|raw}};//questions used in game

</script>
{% if ('Learner' in role) %}
    {% partial __SELF__~'::student' %}
{% elseif ('Instructor' in role or 'TeachingAssistant' in role) %}
    {% partial __SELF__~'::instructor' %}
{% endif %}
