<!-- Gameshow partial -->

<script src="plugins/hermetic/ltitools/assets/libs/easeljs-0.8.1.min.js"></script>
<script src="plugins/hermetic/ltitools/assets/libs/tweenjs-0.6.1.min.js"></script>
<script src="plugins/hermetic/ltitools/assets/libs/movieclip-0.8.1.min.js"></script>
<script src="plugins/hermetic/ltitools/assets/libs/preloadjs-0.4.1.min.js"></script>
<script src="plugins/hermetic/ltitools/assets/libs/gameshow.js"></script>

<canvas id="canvas" width="960" height="540" style="background-color:#FFFFFF"></canvas>

<script>
    var canvas, stage, exportRoot, loader;
    var graded = false;
    var minimalQuestions = 12;// warn if less than
    gameQuest = {{gameQuest|raw}};

    init();
    function init() {
        canvas = document.getElementById("canvas");
        images = images||{};//http://createjs.com/docs/preloadjs/classes/LoadQueue.html
        loader = new createjs.LoadQueue(false);
        loader.addEventListener("fileload", handleFileLoad);
        loader.addEventListener("complete", handleComplete);
        loader.loadManifest(lib.properties.manifest);
    }

    function handleFileLoad(evt) {
        if (evt.item.type == "image") { images[evt.item.id] = evt.result; }
    }

    function handleComplete() {
        exportRoot = new lib.gameshow();

        stage = new createjs.Stage(canvas);
        stage.addChild(exportRoot);
        stage.update();
        stage.enableMouseOver();

        createjs.Ticker.setFPS(lib.properties.fps);
        createjs.Ticker.addEventListener("tick", stage);
    }

    function showIntro() {
        stage.removeChild(exportRoot);
        handleComplete();//init();
    }

    function sendGrade() {
        if (graded) { return false; }
        graded = true;// only once
        // use RestAPI grade is always 100%
        var consumerkey = '{{consumerkey|raw}}';//Canvas: oauth_consumer_key
        var outcomeurl = '{{outcomeurl|raw}}';//Canvas: lis_outcome_service_url 
        var sourcedid = '{{sourcedid|raw}}';//Canvas: lis_result_sourcedid
        var grade = 1;// 0~1 (0.5=50%)
        //console.log('sendGrade: outcomeurl:',outcomeurl);
        if (sourcedid == 'x') { return false; }
        var promise = $.get('onGradePopquiz', {'consumerkey':consumerkey,'outcomeurl':outcomeurl,'sourcedid':sourcedid,'grade':grade}, function (data) {
            //console.log('PROMISE result:',data);
        }).fail(function (data) { console.log('PROMISE failed:',data.responseText); });
    }
</script>
